// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
 */



//#include <dt-bindings/display/tda998x.h>
//#include <dt-bindings/interrupt-controller/irq.h>

&i2c0 {
	mpu9520: mpu9520@68 {
		compatible = "inv,mpu9520";
		reg = <0x68>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

