// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
 */


#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

&i2c2 {
	mpu9520: mpu9520@68 {
		compatible = "inv,mpu9520";
		reg = <0x68>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};


/ {
	tb6612 {
		pinctrl-names = "default";
		pinctrl-0 = <&tb6612_pinmux>;

		compatible = "tos,tb6612";

		tb6612-gpios = 	<&gpio0 20 GPIO_ACTIVE_HIGH>, /* stby   */
						<&gpio1 28 GPIO_ACTIVE_HIGH>, /* dir_1A */
						<&gpio0 31 GPIO_ACTIVE_HIGH>, /* dir_1B */
						<&gpio1 16 GPIO_ACTIVE_HIGH>, /* dir_2A */
						<&gpio2 17 GPIO_ACTIVE_HIGH>; /* dir_2B */

		tb6612-pwms =   <&epwmss0 0 500000>,	/* 500000ns = 2kz */
						<&epwmss0 1 500000>;
	};
};


/* AM335X_PIN_LCD_DATA11 set in am335x-boneblack-common.dtsi       */
/* This has been commented out to remove conflict and declare here */
&am33xx_pinmux {
	tb6612_pinmux: tb6612_pinmux {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_XDMA_EVENT_INTR1, PIN_OUTPUT_PULLDOWN, MUX_MODE7)	// $PINS 60
			AM33XX_PADCONF(AM335X_PIN_GPMC_BEN1, PIN_OUTPUT_PULLDOWN, MUX_MODE7)		// $PINS 
			AM33XX_PADCONF(AM335X_PIN_GPMC_WPN, PIN_OUTPUT_PULLDOWN, MUX_MODE7)			// $PINS 
			AM33XX_PADCONF(AM335X_PIN_GPMC_A0, PIN_OUTPUT_PULLDOWN, MUX_MODE7)			// $PINS 
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA11, PIN_OUTPUT_PULLDOWN, MUX_MODE7)		// $PINS 51
			AM33XX_PADCONF(AM335X_PIN_GPMC_A2, PIN_OUTPUT_PULLDOWN, MUX_MODE6)			// $PINS 
			AM33XX_PADCONF(AM335X_PIN_GPMC_A3, PIN_OUTPUT_PULLDOWN, MUX_MODE6)			// $PINS 
		>;
	};
};


