// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
 */


#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

&i2c2 {
	mpu9520: mpu9520@68 {
		compatible = "inv,mpu9520";
		reg = <0x68>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

/* ensure the SOC PWMs are enabled */
&ehrpwm1 {
    status = "okay";
};

&epwmss1 {
    status = "okay";
};

/* tb6612 node */
/ {
	tb6612 {
		compatible = "tos,tb6612";
		pinctrl-names = "default";
		pinctrl-0 = <&tb6612_pinmux>;

    	pwms = <&ehrpwm1 0 0 1>;
		pwm-names 	= "PWM_P9_14";
		enabled     = <0>;
		duty        = <0>;
		status      = "okay";
	};
};

/*/ {*/
/*	tb6612 {*/
/*		compatible = "tos,tb6612";*/
/*		pinctrl-names = "default";*/
/*		pinctrl-0 = <&tb6612_pinmux>;*/

/*		tb6612-gpios = 	<&gpio0 20 GPIO_ACTIVE_HIGH>, /* stby   */*/
/*						<&gpio1 28 GPIO_ACTIVE_HIGH>, /* dir_1A */*/
/*						<&gpio0 31 GPIO_ACTIVE_HIGH>, /* dir_1B */*/
/*						<&gpio1 16 GPIO_ACTIVE_HIGH>, /* dir_2A */*/
/*						<&gpio2 17 GPIO_ACTIVE_HIGH>; /* dir_2B */*/
/*		*/
/*		pwm_pinA {*/
/*        	pwms = <&ehrpwm1 1 0 1>;*/
/*			pwm-names 	= "PWM_P9_14";*/
/*			enabled     = <0>;*/
/*			duty        = <0>;*/
/*			status      = "okay";*/
/*        };*/
/*	};*/
/*};*/


/* AM335X_PIN_LCD_DATA11 originally set in am335x-boneblack-common.dtsi       */
/* This has been commented out to remove conflict and declare here */
&am33xx_pinmux {
	tb6612_pinmux: tb6612_pinmux {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_XDMA_EVENT_INTR1, PIN_OUTPUT_PULLDOWN, MUX_MODE7)	// STBY    - $PINS 60
			AM33XX_PADCONF(AM335X_PIN_GPMC_BEN1, PIN_OUTPUT_PULLDOWN, MUX_MODE7)		// DIR_1A  - $PINS 
			AM33XX_PADCONF(AM335X_PIN_GPMC_WPN, PIN_OUTPUT_PULLDOWN, MUX_MODE7)			// DIR_1B  - $PINS 
			AM33XX_PADCONF(AM335X_PIN_GPMC_A0, PIN_OUTPUT_PULLDOWN, MUX_MODE7)			// DIR_2A  - $PINS 
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA11, PIN_OUTPUT_PULLDOWN, MUX_MODE7)		// DIR_2B  - $PINS 51
			AM33XX_PADCONF(AM335X_PIN_GPMC_A2, PIN_OUTPUT_PULLDOWN, MUX_MODE6)			// PWM_1A  - $PINS 
			AM33XX_PADCONF(AM335X_PIN_GPMC_A3, PIN_OUTPUT_PULLDOWN, MUX_MODE6)			// PWM_1B  - $PINS 
		>;
	};
};
